<div class="error">
    <div class="error__content">
        <div class="notify__error">
            <div class="notify__header"></div>
            <div class="notify__body">
                <div class="notify__body--title">Не удалось войти.</div>
                <div class="notify__body--description">
                    Вам необходимо обратиться
                    в контактный центр.
                </div>
            </div>
        </div>
    </div>
</div>