<div class="login-form">
    <form novalidate ng-submit="loginCtrl.login()" ng-class="{'invalid': loginCtrl.invalid}" name="loginCtrl.loginForm">
        <div class="login-form__header"></div>
        <div class="login-form__messages">{{loginCtrl.errorMsg}}</div>
        <div class="login-form__body">
            <div class="login-form__input-group">
                <input id="phone" ui-mask="+7 (999) 999-99-99" ng-class="{'error': loginCtrl.invalidLoginOrPassword}" ng-model="loginCtrl.request.phone" ui-mask-placeholder ui-mask-placeholder-char="_" type="text" required>
                <label for="phone">Номер телефона</label>
                <span class="login-form__input--error">Поле не может быть пустым </span>
                <div class="login-form__input--info">
                    <span>
                        Введите номер телефона, указанный при регистрации в бонусной программе.
                    </span>
                </div>
            </div>
            <div class="login-form__input-group">
                <input ui-mask="99.99.9999" model-view-value="true" id="birthDate" ng-class="{'invalid-date': loginCtrl.isInValidDate}" datepicker type="text" ng-model="loginCtrl.request.birthDate" ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="Дата рождения" required>
                <label for="birthDate">Дата рождения</label>
                <span class="login-form__input--error">
                    {{loginCtrl.isInValidDate ? 'Не правильная дата': 'Поле не может быть пустым'}}</span>
                <div class="login-form__input--info">
                    <span>
                        Введите дату рождения, указанную при регистрации в бонусной программе.
                    </span>
                </div>
            </div>
            <div class="login-form__input-group">
                <input id="password" ng-model="loginCtrl.request.password" ng-class="{'error': loginCtrl.invalidLoginOrPassword}" type="password" placeholder="Пароль" required>
                <label for="password">Пароль</label>
                <span class="login-form__input--error">Поле не может быть пустым </span>
                <div class="login-form__input--info">
                    <span>
                        Введите пароль, указанный при регистрации в бонусной программе.
                    </span>
                </div>
            </div>
        </div>
        <div class="login-form__submit">
            <button class="login-form__submit-btn" type="submit">Войти</button>
        </div>
    </form>
</div>