<div class="admin">
    <div class="admin__navigation">
        <ul class="menu">
            <li class="menu__item" ng-class="{'active': adminCtrl.state === 'setting'}" ng-click="adminCtrl.changeState('setting')">Настройки</li>
            <li class="menu__item" ng-class="{'active': adminCtrl.state === 'users'}" ng-click="adminCtrl.changeState('users')">Список пользователей</li>
        </ul>
    </div>
    <div class="admin__content">
        <div class="admin__setting" ng-if="adminCtrl.state === 'setting'">
            <div class="setting-group">
                <label>Выводить в форме авторизации поле “Дата рождения”</label>
                <div class="checkbox">
                    <input id="showDate" class="checkbox" ng-model="adminCtrl.setting.requireDate" type="checkbox">
                    <label for="showDate"></label>
                </div>
            </div>
            <div class="separator"></div>
            <div class="setting-group">
                <label>Включить сервисный режим</label>
                <div class="checkbox">
                    <input id="techMode" class="checkbox" ng-model="adminCtrl.setting.onServiceMode" type="checkbox">
                    <label for="techMode"></label>
                </div>
            </div>
            <div class="separator"></div>
            <div class="setting-group">
                <label>Время кеширования (от 0 до 60 минут)</label>
                <input class="input" ng-class="{'invalid-field': adminCtrl.isInvalidTimeCache}" ng-model="adminCtrl.setting.timeCache" type="text">
            </div>
            <button type="button" class="setting__save-btn" ng-click="adminCtrl.saveSetting()">Применить</button>
        </div>
        <div ng-if="adminCtrl.state === 'users'">
            <div class="admin__users" >
                <div class="users__header">
                    <div class="user__column number__column">#</div>
                    <div class="user__column phone__column">Номер телефона</div>
                    <div class="user__column date__column">Дата рождения</div>
                    <div class="user__column balance__column">Бонусный баланс</div>
                    <div class="user__column level__column">Уровень привилегии</div>
                </div>
                <div class="users__row" ng-repeat="user in adminCtrl.users track by $index">
                    <div class="user__column number__column">{{::$index + 1}}</div>
                    <div class="user__column phone__column">{{::user.phone}}</div>
                    <div class="user__column date__column">{{::user.birthDate}}</div>
                    <div class="user__column balance__column">{{user.balance || user.balance === 0  ? user.balance: 'нет данных'}}</div>
                    <div class="user__column level__column" ng-class="user.level.value">{{user.level.title ? user.level.title: 'нет данных'}}</div>
                </div>
            </div>
            <div class="admin__action">
                <button type="button" class="admin__export-btn" ng-click="adminCtrl.downloadUserLogs()">Лог-файл действий</button>
                <button type="button" class="admin__export-btn" ng-click="adminCtrl.downloadIntegrationLogs()">Лог-файл обмена запросами</button>
            </div>
        </div>
    </div>
</div>