<div class="notify__wrap" ng-if="notifyCtrl.showNotify">
    <div class="notify__content">
        <div class="notify__success" ng-if="notifyCtrl.isSuccess">
            <div class="notify__header"></div>
            <div class="notify__body">
                <div class="notify__body--title">Успешно</div>
                <div class="notify__body--description">{{notifyCtrl.description}}</div>
            </div>
            <div class="notify__action">
                <button class="notify__btn" type="button" ng-click="notifyCtrl.hideNotify()">Ок</button>
            </div>
        </div>
        <div class="notify__error" ng-if="!notifyCtrl.isSuccess">
            <div class="notify__header"></div>
            <div class="notify__body">
                <div class="notify__body--title">Что-то пошло не так...</div>
                <div class="notify__body--description">{{notifyCtrl.description}}</div>
            </div>
            <div class="notify__action">
                <button class="notify__btn" type="button" ng-click="notifyCtrl.hideNotify()">Ок</button>
            </div>
        </div>
    </div>
</div>