.admin {
  width: 1036px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto 0 auto;
}

.admin__navigation {
  width: 224px;
  max-height: 104px;
  border-radius: 6px;
  background-color: #ffffff;
}

.admin__content {
  max-width: 792px;
  width: 100%;
  box-sizing: border-box;
}

.admin__setting {
  border-radius: 6px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px;
}

.admin__users {
  border-radius: 6px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 12px 20px 1px 20px;
}

.menu {
  margin: 0;
  padding: 9px;
  box-sizing: border-box;

  & .menu__item {
    padding-left: 10px;
    list-style: none;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #303030;
    line-height: 40px;
    cursor: pointer;

    &:first-child {
      margin-bottom: 5px;
    }

    &.active {
      font-family: OpenSans-Semibold;
      border-radius: 6px;
      background-color: rgba(45, 146, 81, 0.1);
      color: #2d9251;
    }
  }
}

.setting-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  color: #303030;
  height: 46px;
  line-height: 33px;

  & .checkbox input {
    display: none;
    position: relative;

    & + label {
      position: relative;
      width: 56px;
      height: 30px;
      border-radius: 15px;
      background-color: #e6e6e6;
      box-sizing: border-box;
      display: block;
      cursor: pointer;
    }

    & + label::before {
      content: '';
      position: absolute;
      left: 2px;
      top: 2px;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
    }

    &:checked + label {
      background-color: #2d9251;
    }

    &:checked + label::before {
      right: 2px;
      top: 2px;
      left: auto;
    }
  }

  & .input {
    width: 54px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    box-sizing: border-box;
    outline: none;
    padding-left: 17px;
    color: #303030;
  }
}

.setting__save-btn {
  width: 225px;
  height: 40px;
  font-family: OpenSans-bold;
  border-radius: 8px;
  background-color: #5bb031;
  font-size: 16px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 34px;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  margin-bottom: 15px;
}

.users__header, .users__row {
  display: flex;
  flex-direction: row;
}

.users__header {
  font-family: OpenSans-bold;
  font-size: 12px;
  padding-bottom: 7px;
}

.users__row {
  font-size: 14px;
  color: #484848;
  border-top: 1px solid #e6e6e6;
  line-height: 49px;
}

.user__column:not(:last-child) {
  margin-right: 20px;
}

.number__column {
  width: 100%;
  max-width: 69px;
}

.phone__column {
  width: 100%;
  max-width: 155px;
}

.date__column {
  width: 100%;
  max-width: 156px;
}

.balance__column {
  width: 100%;
  max-width: 138px;
}

.admin__action {
  margin-top: 20px;
}

.admin__export-btn {
  width: 270px;
  height: 40px;
  border-radius: 8px;
  background-color: #5bb031;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: OpenSans-bold
  font-size: 16px;
  color: #ffffff;
  margin-right: 16px;
}

.setting-group .input.invalid-field {
  border: solid 2px #eb5757;
}

.level__column {

  &.THANKS {
    font-family OpenSans-Semibold;
    color: #52b78c;
  }

  &.MORE_THAN_THANKS {
    font-family OpenSans-Semibold;
    color: #b85890;
  }

  &.MUCH_THANKS {
    font-family OpenSans-Semibold;
    color: #bfc766;
  }

  &.SO_MUCH_THANKS {
    font-family OpenSans-Semibold;
    color: #e1615d;
  }
}