.client__dashboard {
  max-width: 1152px;
  height: 620px;
  background: transparent url(../images/client-dashboard.svg) no-repeat;
  background-position-x: 83%;
  background-position-y: 55%;
}

.client__tech-mode {
  max-width: 1152px;
  height: 600px;
  box-sizing: border-box;
}

.tech-mode__title {
  margin-top: 30px;
  margin-left: -22px;
  font-family: OpenSans-bold;
  font-size: 50px;
  color: #9d9d9d;
  text-align: center;
}

.tech-mode__description {
  font-size: 16px;
  color: #9d9d9d;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 27px;
  line-height: 24px;
}

.tech-mode__logo {
  width: 556px;
  height: 376px;
  margin: 0 auto;
  background: transparent url(../images/tech-mode.svg) no-repeat;
}

@media only screen and  (max-width: 612px) {

  .tech-mode__title {
    font-size: 24px;
  }

  .tech-mode__description {
    font-size: 16px;
  }

  .tech-mode__logo {
    width: 290px;
    height: 196px;
    background-size: contain;
  }
}