.ui-datepicker-trigger{
  display: none;
}

.ui-datepicker-header.ui-widget-header {
  background: rgba(45, 146, 81, 0.1);
  border: none;
}

.ui-widget-content {
  border-radius: 8px !important;
  border: solid 1px #e6e6e6 !important;
  background-color: #ffffff !important;
}

.ui-datepicker td span, .ui-datepicker td a, .ui-datepicker td {
  padding: 0 !important;
}




.ui-state-default {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: none !important;
  background: #ffffff !important;
  text-align: center !important;

  &:not(.ui-state-active).ui-state-hover {
    background: rgba(45, 146, 81, 0.1) !important;
    border-radius: 4px !important;
  }
}

.ui-state-highlight {
  background: rgba(45, 146, 81, 0.1) !important;
  border-radius: 4px !important;
}

.ui-state-active {
  font-family: OpenSans-Semibold;
  border: none !important;
  background: #2d9251 !important;
  color: #ffffff !important;
  border-radius: 4px !important;
}

.ui-datepicker-calendar thead {
  font-family: OpenSans;
  font-size: 14px;
  color: #2d9251;
  background: rgba(45, 146, 81, 0.1);
}

.ui-datepicker {
  padding: 0 !important;
  width: 280px !important;
  box-sizing: border-box;
}

.ui-datepicker-month {
  margin-right: 2px !important;
}

.ui-datepicker-year {
  margin-left: 2px !important;
}

.ui-datepicker-month, .ui-datepicker-year {
  width: 93px !important;
  height: 30px;
  border-radius: 8px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  font-family: OpenSans !important;
  font-size: 12px !important;
  color: #303030 !important;
  outline: none;
}

.ui-datepicker-prev.ui-state-hover, .ui-datepicker-next.ui-state-hover {
  border: none !important;
  background: transparent !important;
}

.ui-icon-circle-triangle-w {
  background: transparent url("../images/arrow left.svg") no-repeat !important;
}

.ui-icon-circle-triangle-e {
  background: transparent url("../images/arrow right.svg") no-repeat !important;
}