.error {
  display: flex;
  justify-content: center;

  .notify__body--description {
    max-width: 240px;
    margin-bottom: 41px;
  }
}

.error__content {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
}