.header {
  box-sizing: border-box;
  padding: 4px 30px 0 30px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 8px 0 rgba(45, 146, 81, 0.1);
  background-color: #ffffff;
  position: relative;
}

.admin-page {
  min-width: 1036px;
}

.header__logo {
  text-align: center;
  padding-left: 25px;
}

.header__logo img {
  width: 114px;
  height: 50px;
  background: transparent url(../images/logo.svg) no-repeat;
}

.header__info {
  max-width: 438px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level__title {
  font-size: 12px;
  color: #303030;
}

.level__value {
  max-width: 120px;
  font-family: OpenSans-bold;
  font-size: 14px;
  color: #303030;
}

.info__level {
  position: relative;
  padding-left: 59px;
  margin-left: 15px;
}

.info__level::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -1px;
}

.info__balance {
  position: relative;
  padding-left: 55px;
}

.info__balance::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  top: 3px;
  left: 0;
  background-image: url(../images/balance_icon.svg);
}

.balance__title {
  font-size: 12px;
  line-height: 10px;
  color: #303030;
}

.balance__update {
  font-size: 10px;
  color: #9d9d9d;
}

.balance__value {
  font-size: 20px;
  font-weight: bold;
  color: #5bb031;
}

.level__value, .balance__value {
  font-family: OpenSans-bold;
}

.header__login {
  text-align: right;
  padding-right: 25px;
  display: flex;
}

.header__user-info {
  width: 186px;
  text-align: center;
  height: 50px;
  border-right: 1px solid #e6e6e6;
}

.user-info__phone {
  line-height: 30px;
  color: #303030;
}

.user-info__status {
  font-size: 10px;
}

.header__login-btn {
  width: 95px;
  text-align: left;
  font-family: OpenSans-Semibold;
  font-size: 16px;
  margin-left: 17px;
  font-weight: 600;
  padding: 0;
  color: #2d9251;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent url(../images/login_icon.svg) no-repeat 100% center;
}

.tech-mode__indicator {
  position: absolute;
  right: 225px;
  top: 26px;
}

.tech-mode__btn {
  position: relative;

  & input {
    display: none;
    position: relative;

    & + label {
      position: relative;
      width: 206px;
      height: 28px;
      line-height: 28px;
      border-radius: 20px;
      background-color: rgba(255, 197, 166, 0.2);
      box-sizing: border-box;
      font-size: 12px;
      color: #303030;
      display: block;
      padding-left: 32px;
      cursor: default;
    }

    & + label::before {
      content: '';
      position: absolute;
      left: 4px;
      top: 4px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: transparent url(../images/tech-mode-icon.svg) no-repeat;
      background-size: contain;
    }
  }
}

.STATUS-D {
  color: #e1615d;
}

.STATUS-R {
  color: #e1615d;
}

.STATUS-A {
  color: #5bb031;
}

.STATUS-L {
  color: #e1615d;
}

@media only screen and  (max-width: 885px) and (min-width: 826px) {

  body:not(.admin-page) {
    .header {
      padding: 4px 0 0 0;
    }
  }
}


@media only screen and (min-width: 826px) {

  body:not(.admin-page) {

    .show-only-mobile {
      display: none;
    }
  }
}

@media only screen and  (max-width: 825px) {

  body:not(.admin-page) {
    .hide-only-mobile {
      display: none;
    }

    .header {
      padding: 4px 0 0 0;
      height: 60px;
    }

    .header__login {
      padding-right: 10px;
    }

    .header__logo {
      padding-left: 10px;

      img {
        width: 68px;
        height: 30px;
        background-size: contain;
      }
    }

    .header__info {
      max-width: 100%;
      justify-content: center;
    }

    .info__level {
      padding-left: 0;
      margin-left: 10px;
    }

    .info__level::before {
      display: none;
    }

    .level__value {
      font-size: 12px;
      max-width: 110px;
    }

    .level__title {
      font-size: 10px;
    }

    .balance__update {
      font-size: 10px;
      line-height: 12px;
      color: #000000;
    }

    .balance__title {
      font-size: 10px;
      line-height: 12px;
    }

    .user-info__phone {
      font-size: 10px;
      line-height: 12px;
    }

    .header__login-btn {
      text-indent: 100%;
      overflow: hidden;
      width: 28px;
    }
  }
}