.loader__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cssload-fond{
  position:relative;
  margin: auto;
}

.cssload-container-general
{
  animation:cssload-animball_two 1.75s infinite;
  -o-animation:cssload-animball_two 1.75s infinite;
  -ms-animation:cssload-animball_two 1.75s infinite;
  -webkit-animation:cssload-animball_two 1.75s infinite;
  -moz-animation:cssload-animball_two 1.75s infinite;
  width:94px; height:94px;
}
.cssload-internal
{
  width:94px; height:94px; position:absolute;
}
.cssload-ballcolor
{
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4
{
  position: absolute;
  animation:cssload-animball_one 1.75s infinite ease;
  -o-animation:cssload-animball_one 1.75s infinite ease;
  -ms-animation:cssload-animball_one 1.75s infinite ease;
  -webkit-animation:cssload-animball_one 1.75s infinite ease;
  -moz-animation:cssload-animball_one 1.75s infinite ease;
}
.cssload-ball_1
{
  background-color:rgb(82,183,139);
  top:0; left:0;
}
.cssload-ball_2
{
  background-color:rgb(184,88,144);
  top:0; left:51px;
}
.cssload-ball_3
{
  background-color:rgb(191,199,102);
  top:51px; left:0;
}
.cssload-ball_4
{
  background-color:rgb(225,97,93);
  top:51px; left:51px;
}





@keyframes cssload-animball_one
{
  0%{ position: absolute;}
  50%{top:26px; left:26px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}

@-o-keyframes cssload-animball_one
{
  0%{ position: absolute;}
  50%{top:26px; left:26px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}

@-ms-keyframes cssload-animball_one
{
  0%{ position: absolute;}
  50%{top:26px; left:26px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}

@-webkit-keyframes cssload-animball_one
{
  0%{ position: absolute;}
  50%{top:26px; left:26px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}

@-moz-keyframes cssload-animball_one
{
  0%{ position: absolute;}
  50%{top:26px; left:26px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}

@keyframes cssload-animball_two
{
  0%{transform:rotate(0deg) scale(1);}
  50%{transform:rotate(360deg) scale(1.3);}
  100%{transform:rotate(720deg) scale(1);}
}

@-o-keyframes cssload-animball_two
{
  0%{-o-transform:rotate(0deg) scale(1);}
  50%{-o-transform:rotate(360deg) scale(1.3);}
  100%{-o-transform:rotate(720deg) scale(1);}
}

@-ms-keyframes cssload-animball_two
{
  0%{-ms-transform:rotate(0deg) scale(1);}
  50%{-ms-transform:rotate(360deg) scale(1.3);}
  100%{-ms-transform:rotate(720deg) scale(1);}
}

@-webkit-keyframes cssload-animball_two
{
  0%{-webkit-transform:rotate(0deg) scale(1);}
  50%{-webkit-transform:rotate(360deg) scale(1.3);}
  100%{-webkit-transform:rotate(720deg) scale(1);}
}

@-moz-keyframes cssload-animball_two
{
  0%{-moz-transform:rotate(0deg) scale(1);}
  50%{-moz-transform:rotate(360deg) scale(1.3);}
  100%{-moz-transform:rotate(720deg) scale(1);}
}