.login-form {
  max-width: 340px;
  max-height: 554px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  margin: 20px auto;
}

.login-form__header {
  width: 340px;
  height: 192px;
  margin-top: -4px;
  background: transparent url(../images/login_form-header.svg);
}

.login-form__messages {
  min-height: 19px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #303030;
}

.login-form__body {
  padding: 34px 30px 0 30px;
  box-sizing: border-box;
}

.login-form__submit {
  padding: 5px 30px 20px 30px;
  box-sizing: border-box;
}

.login-form__input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  position: relative;
}

.login-form__input-group input {
  height: 56px;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 14px;
  outline: none;
  font-family OpenSans;
  font-size: 16px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;

  & + label {
    display: none;
  }

  &.error {
    border: solid 2px #eb5757;

    & + label {
      display: block;
      position: absolute;
      left: 12px;
      top: -9px;
      font-size: 12px;
      color: #eb5757;
      padding: 0 3px;
      background-color: #ffffff;
    }

    & ~ .login-form__input--info {
      background: transparent url("../images/error.svg") no-repeat;
    }
  }

  &:focus {
    border: 2px solid #2d9251;

    & + label {
      display: block;
      position: absolute;
      left: 12px;
      top: -9px;
      font-size: 12px;
      color: #2d9251;
      padding: 0 3px;
      background-color: #ffffff;
    }

    & ~ .login-form__input--info {
      background: transparent url("../images/info.svg") no-repeat;
    }
  }
}

.login-form__submit-btn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  padding: 0;
  text-align: center;
  background-color: #5bb031;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.login-form__input--error {
  display: none;
}

.login-form__input-group input.invalid-date {
  border: solid 2px #eb5757;

  & + label {
    display: block;
    position: absolute;
    left: 12px;
    top: -9px;
    font-size: 12px;
    color: #eb5757;
    padding: 0 3px;
    background-color: #ffffff;

    & ~ .login-form__input--info {
      background: transparent url("../images/error.svg") no-repeat;
    }
  }

  & ~ .login-form__input--error {
    display: block;
    font-size: 12px;
    color: #eb5757;
    position: absolute;
    bottom: -21px;
    left: 15px;
    z-index: 1;
  }
}

.invalid {

  .login-form__input-group input.ng-empty,
  .login-form__input-group input.ng-invalid {
    border: solid 2px #eb5757;

    & + label {
      display: block;
      position: absolute;
      left: 12px;
      top: -9px;
      font-size: 12px;
      color: #eb5757;
      padding: 0 3px;
      background-color: #ffffff;
    }

    & ~ .login-form__input--info {
      background: transparent url("../images/error.svg") no-repeat;
    }
  }

  .login-form__input-group input.ng-empty {

    & ~ .login-form__input--error {
      display: block;
      font-size: 12px;
      color: #eb5757;
      position: absolute;
      bottom: -21px;
      left: 15px;
      z-index: 1;
    }
  }
}

.login-form__input--info {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 10px;
  cursor: pointer;
  background: transparent url("../images/info.svg") no-repeat;

  & span {
    display: none;
    width: 300px;
    height: 97px;
    top: -110px;
    left: -256px;
    box-sizing: border-box;
    padding: 20px 24px 0 19px;
    box-shadow: 0 6px 8px 0 rgba(45, 146, 81, 0.1);
    border: solid 1px #e6e6e6;
    border-radius: 2px;
    background-color: #ffffff;
    font-size: 14px;
    z-index: 1000;
    color: #9d9d9d;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: -12px;
      right: 21px;
      border-style: solid;
      border-width: 12px 10px 0 10px;
      border-color: #ffffff transparent transparent transparent;
    }

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: -13px;
      right: 20px;
      border-style: solid;
      border-width: 13px 11px 0 11px;
      border-color: #e6e6e6 transparent transparent transparent;
    }
  }

  &:hover span {
    display: block;
    position: absolute;
  }
}

@media only screen and  (max-width: 450px) {

  .login-form {
    max-width: 300px;
  }

  .login-form__body {
    padding: 20px 10px 0 10px;
  }

  .login-form__header {
    width: 300px;
    height: 145px;
    background-size: cover;
    background-position-y: -19px;
  }

  .login-form__messages {
    padding-top: 10px;
  }

  .login-form__submit {
    padding: 5px 10px 10px 10px;
  }
}