.notify__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.4);
}

.notify__content {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.notify__success {

  .notify__header {
    min-width: 340px;
    min-height: 187px;
    background: transparent url("../images/notify-success.svg") no-repeat;
    margin-top: -4px;
  }
}

.notify__error {

  .notify__header {
    min-width: 340px;
    min-height: 187px;
    background: transparent url("../images/notify-error.svg") no-repeat;
    margin-top: -4px;
  }
}

.notify__body {
  text-align: center;
  padding-top: 26px;
}

.notify__body--title {
  font-size: 18px;
  color: #303030;
}

.notify__body--description {
  display: inline-block;
  max-width: 300px;
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #9d9d9d;
}

.notify__action {
  text-align: center;
  padding: 26px 0 20px 0;
}

.notify__btn {
  width: 225px;
  height: 40px;
  border-radius: 8px;
  background-color: #5bb031;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: OpenSans-bold;
  cursor: pointer;
}

@media only screen and  (max-width: 450px) {

  .notify__error .notify__header, .notify__success .notify__header {
    min-width: 300px;
    min-height: 165px;
    background-size: cover;
    margin-top: -4px;
  }
}