@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans-bold";
  src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url(../fonts/OpenSans-Semibold.ttf) format("truetype");
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1152px;
  min-width: 320px;
  font-family: OpenSans;
  background-color: #f4f4f4;
}


input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input::-ms-reveal {  display: none; width : 0; height: 0; }

@require 'login.styl';
@require 'header.styl';
@require 'client.styl';
@require 'admin.styl';
@require 'datepicker.styl';
@require 'notify.styl';
@require 'loader.styl';
@require 'error.styl';

.ICON-THANKS::before {
  width: 37px;
  height: 41px;
  background-image: url(../images/icon-thank.svg);
}

.ICON-MORE_THAN_THANKS::before {
  width: 50px;
  height: 32px;
  top: 11px;
  left: -5px;
  background-image: url(../images/more.svg);
}

.ICON-MUCH_THANKS::before {
  width: 41px;
  height: 42px;
  top: 6px;
  background-image: url(../images/much_thanks.svg);
}

.ICON-SO_MUCH_THANKS::before {
  width: 46px;
  height: 43px;
  top: 3px;
  left: -6px;
  background-image: url(../images/so_much.svg);
}

.THANKS {
  color: #52b78c;
}

.MORE_THAN_THANKS {
  color: #b85890;
}

.MUCH_THANKS {
  color: #bfc766;
}

.SO_MUCH_THANKS {
  color: #e1615d;
}

@media only screen and  (max-width: 825px) {

  .ICON-THANKS::before {
    width: 33px;
    height: 37px;
    background-size: contain;
  }

  .ICON-MORE_THAN_THANKS::before {
    width: 41px;
    height: 26px;
    top: 11px;
    left: -10px;
    background-size: contain;
  }

  .ICON-MUCH_THANKS::before {
    width: 36px;
    height: 37px;
    top: 5px;
    left: -6px;
    background-size: contain;
  }

  .ICON-SO_MUCH_THANKS::before {
    width: 39px;
    height: 36px;
    top: 2px;
    left: -9px;
    background-size: contain;
  }
}