<div class="header">
    <div class="header__logo">
        <img src="./images/logo.svg"/>
    </div>
    <div class="header__info">
        <div class="info__level" ng-class="'ICON-' + headerCtrl.user.level.value" ng-if="headerCtrl.user && headerCtrl.user.role === 'ROLE_CLIENT'">
            <div class="level__title" ng-if="headerCtrl.user.level.value">Вы получаете</div>
            <div class="level__value" ng-class="headerCtrl.user.level.value">{{headerCtrl.user.level.title ? headerCtrl.user.level.title : 'Уровень не установлен'}}</div>
        </div>
        <div class="info__balance hide-only-mobile" ng-if="headerCtrl.user && headerCtrl.user.role === 'ROLE_CLIENT'">
            <div class="balance__title">Ваш баланс</div>
            <div class="balance__update">Обновлено на {{::headerCtrl.user.balanceUpdated | date : 'dd.MM.yyyy HH:mm'}}</div>
            <div class="balance__value">{{::headerCtrl.user.balance}}</div>
        </div>
        <div class="info__other show-only-mobile" ng-if="headerCtrl.user && headerCtrl.user.role === 'ROLE_CLIENT'">
            <div class="balance__title">Баланс {{::headerCtrl.user.balance}}</div>
            <div class="balance__update">{{::headerCtrl.user.balanceUpdated | date : 'dd.MM.yyyy HH:mm'}}</div>
            <div class="user-info__phone">{{headerCtrl.user.phone | phoneFormat}}</div>
            <div class="user-info__status" ng-class="'STATUS-' + headerCtrl.user.status.value">{{headerCtrl.user.status.title}}</div>
        </div>
    </div>
    <div class="tech-mode__indicator">
        <div class="tech-mode__btn" ng-if="headerCtrl.user && headerCtrl.user.role === 'ROLE_ADMIN' && headerCtrl.setting.onServiceMode">
            <input type="checkbox">
            <label>Включён сервисный режим</label>
        </div>
    </div>
    <div class="header__login">
        <div class="header__user-info hide-only-mobile" ng-if="headerCtrl.user && headerCtrl.user.role === 'ROLE_CLIENT'">
            <div class="user-info__phone">{{headerCtrl.user.phone | phoneFormat}}</div>
            <div class="user-info__status" ng-class="'STATUS-' + headerCtrl.user.status.value">{{headerCtrl.user.status.title}}</div>
        </div>
        <button class="header__login-btn" ng-if="headerCtrl.user" ng-click="headerCtrl.logout()">Выйти</button>
        <button class="header__login-btn" ng-if="!headerCtrl.user" ng-click="headerCtrl.sigin()">Войти</button>
    </div>
</div>