<div class="client__tech-mode">
    <div class="tech-mode__title">Технические работы.</div>
    <div class="tech-mode__description">На сервере ведутся технические работы.<br> Это может занять некоторое время.<br> Приносим извинения за причинённые неудобства.</div>
    <div class="tech-mode__logo"></div>
</div>