@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
}
body {
  margin: 0 auto;
  padding: 0;
  max-width: 1152px;
  min-width: 320px;
  font-family: OpenSans;
  background-color: #f4f4f4;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.login-form {
  max-width: 340px;
  max-height: 554px;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  margin: 20px auto;
}
.login-form__header {
  width: 340px;
  height: 192px;
  margin-top: -4px;
  background: transparent url("../images/login_form-header.svg");
}
.login-form__messages {
  min-height: 19px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #303030;
}
.login-form__body {
  padding: 34px 30px 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login-form__submit {
  padding: 5px 30px 20px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login-form__input-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 25px;
  position: relative;
}
.login-form__input-group input {
  height: 56px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding-left: 14px;
  outline: none;
  font-family: OpenSans;
  font-size: 16px;
  border: solid 1px #e6e6e6;
  background-color: #fff;
}
.login-form__input-group input + label {
  display: none;
}
.login-form__input-group input.error {
  border: solid 2px #eb5757;
}
.login-form__input-group input.error + label {
  display: block;
  position: absolute;
  left: 12px;
  top: -9px;
  font-size: 12px;
  color: #eb5757;
  padding: 0 3px;
  background-color: #fff;
}
.login-form__input-group input.error ~ .login-form__input--info {
  background: transparent url("../images/error.svg") no-repeat;
}
.login-form__input-group input:focus {
  border: 2px solid #2d9251;
}
.login-form__input-group input:focus + label {
  display: block;
  position: absolute;
  left: 12px;
  top: -9px;
  font-size: 12px;
  color: #2d9251;
  padding: 0 3px;
  background-color: #fff;
}
.login-form__input-group input:focus ~ .login-form__input--info {
  background: transparent url("../images/info.svg") no-repeat;
}
.login-form__submit-btn {
  width: 100%;
  height: 40px;
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  padding: 0;
  text-align: center;
  background-color: #5bb031;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.login-form__input--error {
  display: none;
}
.login-form__input-group input.invalid-date {
  border: solid 2px #eb5757;
}
.login-form__input-group input.invalid-date + label {
  display: block;
  position: absolute;
  left: 12px;
  top: -9px;
  font-size: 12px;
  color: #eb5757;
  padding: 0 3px;
  background-color: #fff;
}
.login-form__input-group input.invalid-date + label ~ .login-form__input--info {
  background: transparent url("../images/error.svg") no-repeat;
}
.login-form__input-group input.invalid-date ~ .login-form__input--error {
  display: block;
  font-size: 12px;
  color: #eb5757;
  position: absolute;
  bottom: -21px;
  left: 15px;
  z-index: 1;
}
.invalid .login-form__input-group input.ng-empty,
.invalid .login-form__input-group input.ng-invalid {
  border: solid 2px #eb5757;
}
.invalid .login-form__input-group input.ng-empty + label,
.invalid .login-form__input-group input.ng-invalid + label {
  display: block;
  position: absolute;
  left: 12px;
  top: -9px;
  font-size: 12px;
  color: #eb5757;
  padding: 0 3px;
  background-color: #fff;
}
.invalid .login-form__input-group input.ng-empty ~ .login-form__input--info,
.invalid .login-form__input-group input.ng-invalid ~ .login-form__input--info {
  background: transparent url("../images/error.svg") no-repeat;
}
.invalid .login-form__input-group input.ng-empty ~ .login-form__input--error {
  display: block;
  font-size: 12px;
  color: #eb5757;
  position: absolute;
  bottom: -21px;
  left: 15px;
  z-index: 1;
}
.login-form__input--info {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 10px;
  cursor: pointer;
  background: transparent url("../images/info.svg") no-repeat;
}
.login-form__input--info span {
  display: none;
  width: 300px;
  height: 97px;
  top: -110px;
  left: -256px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 24px 0 19px;
  -webkit-box-shadow: 0 6px 8px 0 rgba(45,146,81,0.1);
  box-shadow: 0 6px 8px 0 rgba(45,146,81,0.1);
  border: solid 1px #e6e6e6;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  font-size: 14px;
  z-index: 1000;
  color: #9d9d9d;
}
.login-form__input--info span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -12px;
  right: 21px;
  border-style: solid;
  border-width: 12px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
}
.login-form__input--info span::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -13px;
  right: 20px;
  border-style: solid;
  border-width: 13px 11px 0 11px;
  border-color: #e6e6e6 transparent transparent transparent;
}
.login-form__input--info:hover span {
  display: block;
  position: absolute;
}
@media only screen and (max-width: 450px) {
  .login-form {
    max-width: 300px;
  }
  .login-form__body {
    padding: 20px 10px 0 10px;
  }
  .login-form__header {
    width: 300px;
    height: 145px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position-y: -19px;
  }
  .login-form__messages {
    padding-top: 10px;
  }
  .login-form__submit {
    padding: 5px 10px 10px 10px;
  }
}
.header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 30px 0 30px;
  height: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-shadow: 0 6px 8px 0 rgba(45,146,81,0.1);
  box-shadow: 0 6px 8px 0 rgba(45,146,81,0.1);
  background-color: #fff;
  position: relative;
}
.admin-page {
  min-width: 1036px;
}
.header__logo {
  text-align: center;
  padding-left: 25px;
}
.header__logo img {
  width: 114px;
  height: 50px;
  background: transparent url("../images/logo.svg") no-repeat;
}
.header__info {
  max-width: 438px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.level__title {
  font-size: 12px;
  color: #303030;
}
.level__value {
  max-width: 120px;
  font-family: OpenSans-bold;
  font-size: 14px;
  color: #303030;
}
.info__level {
  position: relative;
  padding-left: 59px;
  margin-left: 15px;
}
.info__level::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -1px;
}
.info__balance {
  position: relative;
  padding-left: 55px;
}
.info__balance::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  top: 3px;
  left: 0;
  background-image: url("../images/balance_icon.svg");
}
.balance__title {
  font-size: 12px;
  line-height: 10px;
  color: #303030;
}
.balance__update {
  font-size: 10px;
  color: #9d9d9d;
}
.balance__value {
  font-size: 20px;
  font-weight: bold;
  color: #5bb031;
}
.level__value,
.balance__value {
  font-family: OpenSans-bold;
}
.header__login {
  text-align: right;
  padding-right: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.header__user-info {
  width: 186px;
  text-align: center;
  height: 50px;
  border-right: 1px solid #e6e6e6;
}
.user-info__phone {
  line-height: 30px;
  color: #303030;
}
.user-info__status {
  font-size: 10px;
}
.header__login-btn {
  width: 95px;
  text-align: left;
  font-family: OpenSans-Semibold;
  font-size: 16px;
  margin-left: 17px;
  font-weight: 600;
  padding: 0;
  color: #2d9251;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent url("../images/login_icon.svg") no-repeat 100% center;
}
.tech-mode__indicator {
  position: absolute;
  right: 225px;
  top: 26px;
}
.tech-mode__btn {
  position: relative;
}
.tech-mode__btn input {
  display: none;
  position: relative;
}
.tech-mode__btn input + label {
  position: relative;
  width: 206px;
  height: 28px;
  line-height: 28px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(255,197,166,0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  color: #303030;
  display: block;
  padding-left: 32px;
  cursor: default;
}
.tech-mode__btn input + label::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: transparent url("../images/tech-mode-icon.svg") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.STATUS-D {
  color: #e1615d;
}
.STATUS-R {
  color: #e1615d;
}
.STATUS-A {
  color: #5bb031;
}
.STATUS-L {
  color: #e1615d;
}
@media only screen and (max-width: 885px) and (min-width: 826px) {
  body:not(.admin-page) .header {
    padding: 4px 0 0 0;
  }
}
@media only screen and (min-width: 826px) {
  body:not(.admin-page) .show-only-mobile {
    display: none;
  }
}
@media only screen and (max-width: 825px) {
  body:not(.admin-page) .hide-only-mobile {
    display: none;
  }
  body:not(.admin-page) .header {
    padding: 4px 0 0 0;
    height: 60px;
  }
  body:not(.admin-page) .header__login {
    padding-right: 10px;
  }
  body:not(.admin-page) .header__logo {
    padding-left: 10px;
  }
  body:not(.admin-page) .header__logo img {
    width: 68px;
    height: 30px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
  body:not(.admin-page) .header__info {
    max-width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  body:not(.admin-page) .info__level {
    padding-left: 0;
    margin-left: 10px;
  }
  body:not(.admin-page) .info__level::before {
    display: none;
  }
  body:not(.admin-page) .level__value {
    font-size: 12px;
    max-width: 110px;
  }
  body:not(.admin-page) .level__title {
    font-size: 10px;
  }
  body:not(.admin-page) .balance__update {
    font-size: 10px;
    line-height: 12px;
    color: #000;
  }
  body:not(.admin-page) .balance__title {
    font-size: 10px;
    line-height: 12px;
  }
  body:not(.admin-page) .user-info__phone {
    font-size: 10px;
    line-height: 12px;
  }
  body:not(.admin-page) .header__login-btn {
    text-indent: 100%;
    overflow: hidden;
    width: 28px;
  }
}
.client__dashboard {
  max-width: 1152px;
  height: 620px;
  background: transparent url("../images/client-dashboard.svg") no-repeat;
  background-position-x: 83%;
  background-position-y: 55%;
}
.client__tech-mode {
  max-width: 1152px;
  height: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tech-mode__title {
  margin-top: 30px;
  margin-left: -22px;
  font-family: OpenSans-bold;
  font-size: 50px;
  color: #9d9d9d;
  text-align: center;
}
.tech-mode__description {
  font-size: 16px;
  color: #9d9d9d;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 27px;
  line-height: 24px;
}
.tech-mode__logo {
  width: 556px;
  height: 376px;
  margin: 0 auto;
  background: transparent url("../images/tech-mode.svg") no-repeat;
}
@media only screen and (max-width: 612px) {
  .tech-mode__title {
    font-size: 24px;
  }
  .tech-mode__description {
    font-size: 16px;
  }
  .tech-mode__logo {
    width: 290px;
    height: 196px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
}
.admin {
  width: 1036px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 20px auto 0 auto;
}
.admin__navigation {
  width: 224px;
  max-height: 104px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
}
.admin__content {
  max-width: 792px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.admin__setting {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}
.admin__users {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 20px 1px 20px;
}
.menu {
  margin: 0;
  padding: 9px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menu .menu__item {
  padding-left: 10px;
  list-style: none;
  height: 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  color: #303030;
  line-height: 40px;
  cursor: pointer;
}
.menu .menu__item:first-child {
  margin-bottom: 5px;
}
.menu .menu__item.active {
  font-family: OpenSans-Semibold;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: rgba(45,146,81,0.1);
  color: #2d9251;
}
.setting-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 16px;
  color: #303030;
  height: 46px;
  line-height: 33px;
}
.setting-group .checkbox input {
  display: none;
  position: relative;
}
.setting-group .checkbox input + label {
  position: relative;
  width: 56px;
  height: 30px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
}
.setting-group .checkbox input + label::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);
  background-color: #fff;
}
.setting-group .checkbox input:checked + label {
  background-color: #2d9251;
}
.setting-group .checkbox input:checked + label::before {
  right: 2px;
  top: 2px;
  left: auto;
}
.setting-group .input {
  width: 54px;
  height: 40px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: solid 1px #e6e6e6;
  background-color: #fff;
  font-size: 16px;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding-left: 17px;
  color: #303030;
}
.setting__save-btn {
  width: 225px;
  height: 40px;
  font-family: OpenSans-bold;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #5bb031;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 34px;
}
.separator {
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  margin-bottom: 15px;
}
.users__header,
.users__row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.users__header {
  font-family: OpenSans-bold;
  font-size: 12px;
  padding-bottom: 7px;
}
.users__row {
  font-size: 14px;
  color: #484848;
  border-top: 1px solid #e6e6e6;
  line-height: 49px;
}
.user__column:not(:last-child) {
  margin-right: 20px;
}
.number__column {
  width: 100%;
  max-width: 69px;
}
.phone__column {
  width: 100%;
  max-width: 155px;
}
.date__column {
  width: 100%;
  max-width: 156px;
}
.balance__column {
  width: 100%;
  max-width: 138px;
}
.admin__action {
  margin-top: 20px;
}
.admin__export-btn {
  width: 270px;
  height: 40px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #5bb031;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: OpenSans-bold;
  font-size: 16px;
  color: #fff;
  margin-right: 16px;
}
.setting-group .input.invalid-field {
  border: solid 2px #eb5757;
}
.level__column.THANKS {
  font-family: OpenSans-Semibold;
  color: #52b78c;
}
.level__column.MORE_THAN_THANKS {
  font-family: OpenSans-Semibold;
  color: #b85890;
}
.level__column.MUCH_THANKS {
  font-family: OpenSans-Semibold;
  color: #bfc766;
}
.level__column.SO_MUCH_THANKS {
  font-family: OpenSans-Semibold;
  color: #e1615d;
}
.ui-datepicker-trigger {
  display: none;
}
.ui-datepicker-header.ui-widget-header {
  background: rgba(45,146,81,0.1);
  border: none;
}
.ui-widget-content {
  -webkit-border-radius: 8px !important;
  border-radius: 8px !important;
  border: solid 1px #e6e6e6 !important;
  background-color: #fff !important;
}
.ui-datepicker td span,
.ui-datepicker td a,
.ui-datepicker td {
  padding: 0 !important;
}
.ui-state-default {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: none !important;
  background: #fff !important;
  text-align: center !important;
}
.ui-state-default:not(.ui-state-active).ui-state-hover {
  background: rgba(45,146,81,0.1) !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
}
.ui-state-highlight {
  background: rgba(45,146,81,0.1) !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
}
.ui-state-active {
  font-family: OpenSans-Semibold;
  border: none !important;
  background: #2d9251 !important;
  color: #fff !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
}
.ui-datepicker-calendar thead {
  font-family: OpenSans;
  font-size: 14px;
  color: #2d9251;
  background: rgba(45,146,81,0.1);
}
.ui-datepicker {
  padding: 0 !important;
  width: 280px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-datepicker-month {
  margin-right: 2px !important;
}
.ui-datepicker-year {
  margin-left: 2px !important;
}
.ui-datepicker-month,
.ui-datepicker-year {
  width: 93px !important;
  height: 30px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: solid 1px #e6e6e6;
  background-color: #fff;
  font-family: OpenSans !important;
  font-size: 12px !important;
  color: #303030 !important;
  outline: none;
}
.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
  border: none !important;
  background: transparent !important;
}
.ui-icon-circle-triangle-w {
  background: transparent url("../images/arrow left.svg") no-repeat !important;
}
.ui-icon-circle-triangle-e {
  background: transparent url("../images/arrow right.svg") no-repeat !important;
}
.notify__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: rgba(48,48,48,0.4);
}
.notify__content {
  background-color: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.notify__success .notify__header {
  min-width: 340px;
  min-height: 187px;
  background: transparent url("../images/notify-success.svg") no-repeat;
  margin-top: -4px;
}
.notify__error .notify__header {
  min-width: 340px;
  min-height: 187px;
  background: transparent url("../images/notify-error.svg") no-repeat;
  margin-top: -4px;
}
.notify__body {
  text-align: center;
  padding-top: 26px;
}
.notify__body--title {
  font-size: 18px;
  color: #303030;
}
.notify__body--description {
  display: inline-block;
  max-width: 300px;
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #9d9d9d;
}
.notify__action {
  text-align: center;
  padding: 26px 0 20px 0;
}
.notify__btn {
  width: 225px;
  height: 40px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #5bb031;
  border: none;
  outline: none;
  color: #fff;
  font-family: OpenSans-bold;
  cursor: pointer;
}
@media only screen and (max-width: 450px) {
  .notify__error .notify__header,
  .notify__success .notify__header {
    min-width: 300px;
    min-height: 165px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-top: -4px;
  }
}
.loader__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cssload-fond {
  position: relative;
  margin: auto;
}
.cssload-container-general {
  -webkit-animation: cssload-animball_two 1.75s infinite;
  -moz-animation: cssload-animball_two 1.75s infinite;
  -o-animation: cssload-animball_two 1.75s infinite;
  -ms-animation: cssload-animball_two 1.75s infinite;
  animation: cssload-animball_two 1.75s infinite;
  -o-animation: cssload-animball_two 1.75s infinite;
  -ms-animation: cssload-animball_two 1.75s infinite;
  -webkit-animation: cssload-animball_two 1.75s infinite;
  -moz-animation: cssload-animball_two 1.75s infinite;
  width: 94px;
  height: 94px;
}
.cssload-internal {
  width: 94px;
  height: 94px;
  position: absolute;
}
.cssload-ballcolor {
  width: 43px;
  height: 43px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.cssload-ball_1,
.cssload-ball_2,
.cssload-ball_3,
.cssload-ball_4 {
  position: absolute;
  -webkit-animation: cssload-animball_one 1.75s infinite ease;
  -moz-animation: cssload-animball_one 1.75s infinite ease;
  -o-animation: cssload-animball_one 1.75s infinite ease;
  -ms-animation: cssload-animball_one 1.75s infinite ease;
  animation: cssload-animball_one 1.75s infinite ease;
  -o-animation: cssload-animball_one 1.75s infinite ease;
  -ms-animation: cssload-animball_one 1.75s infinite ease;
  -webkit-animation: cssload-animball_one 1.75s infinite ease;
  -moz-animation: cssload-animball_one 1.75s infinite ease;
}
.cssload-ball_1 {
  background-color: #52b78b;
  top: 0;
  left: 0;
}
.cssload-ball_2 {
  background-color: #b85890;
  top: 0;
  left: 51px;
}
.cssload-ball_3 {
  background-color: #bfc766;
  top: 51px;
  left: 0;
}
.cssload-ball_4 {
  background-color: #e1615d;
  top: 51px;
  left: 51px;
}
@-o-keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 26px;
    left: 26px;
    position: absolute;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    position: absolute;
  }
}
@-ms-keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 26px;
    left: 26px;
    position: absolute;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    position: absolute;
  }
}
@-webkit-keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 26px;
    left: 26px;
    position: absolute;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    position: absolute;
  }
}
@-moz-keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 26px;
    left: 26px;
    position: absolute;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    position: absolute;
  }
}
@-o-keyframes cssload-animball_two {
  0% {
    -o-transform: rotate(0deg) scale(1);
  }
  50% {
    -o-transform: rotate(360deg) scale(1.3);
  }
  100% {
    -o-transform: rotate(720deg) scale(1);
  }
}
@-ms-keyframes cssload-animball_two {
  0% {
    -ms-transform: rotate(0deg) scale(1);
  }
  50% {
    -ms-transform: rotate(360deg) scale(1.3);
  }
  100% {
    -ms-transform: rotate(720deg) scale(1);
  }
}
@-webkit-keyframes cssload-animball_two {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
  }
}
@-moz-keyframes cssload-animball_two {
  0% {
    -moz-transform: rotate(0deg) scale(1);
  }
  50% {
    -moz-transform: rotate(360deg) scale(1.3);
  }
  100% {
    -moz-transform: rotate(720deg) scale(1);
  }
}
@-moz-keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 26px;
    left: 26px;
    position: absolute;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    position: absolute;
  }
}
@-webkit-keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 26px;
    left: 26px;
    position: absolute;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    position: absolute;
  }
}
@-o-keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 26px;
    left: 26px;
    position: absolute;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    position: absolute;
  }
}
@keyframes cssload-animball_one {
  0% {
    position: absolute;
  }
  50% {
    top: 26px;
    left: 26px;
    position: absolute;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    position: absolute;
  }
}
@-moz-keyframes cssload-animball_two {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.3);
    -moz-transform: rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    -ms-transform: rotate(360deg) scale(1.3);
    transform: rotate(360deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
    -moz-transform: rotate(720deg) scale(1);
    -o-transform: rotate(720deg) scale(1);
    -ms-transform: rotate(720deg) scale(1);
    transform: rotate(720deg) scale(1);
  }
}
@-webkit-keyframes cssload-animball_two {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.3);
    -moz-transform: rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    -ms-transform: rotate(360deg) scale(1.3);
    transform: rotate(360deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
    -moz-transform: rotate(720deg) scale(1);
    -o-transform: rotate(720deg) scale(1);
    -ms-transform: rotate(720deg) scale(1);
    transform: rotate(720deg) scale(1);
  }
}
@-o-keyframes cssload-animball_two {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.3);
    -moz-transform: rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    -ms-transform: rotate(360deg) scale(1.3);
    transform: rotate(360deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
    -moz-transform: rotate(720deg) scale(1);
    -o-transform: rotate(720deg) scale(1);
    -ms-transform: rotate(720deg) scale(1);
    transform: rotate(720deg) scale(1);
  }
}
@keyframes cssload-animball_two {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.3);
    -moz-transform: rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    -ms-transform: rotate(360deg) scale(1.3);
    transform: rotate(360deg) scale(1.3);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
    -moz-transform: rotate(720deg) scale(1);
    -o-transform: rotate(720deg) scale(1);
    -ms-transform: rotate(720deg) scale(1);
    transform: rotate(720deg) scale(1);
  }
}
.error {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.error .notify__body--description {
  max-width: 240px;
  margin-bottom: 41px;
}
.error__content {
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 20px;
}
.ICON-THANKS::before {
  width: 37px;
  height: 41px;
  background-image: url("../images/icon-thank.svg");
}
.ICON-MORE_THAN_THANKS::before {
  width: 50px;
  height: 32px;
  top: 11px;
  left: -5px;
  background-image: url("../images/more.svg");
}
.ICON-MUCH_THANKS::before {
  width: 41px;
  height: 42px;
  top: 6px;
  background-image: url("../images/much_thanks.svg");
}
.ICON-SO_MUCH_THANKS::before {
  width: 46px;
  height: 43px;
  top: 3px;
  left: -6px;
  background-image: url("../images/so_much.svg");
}
.THANKS {
  color: #52b78c;
}
.MORE_THAN_THANKS {
  color: #b85890;
}
.MUCH_THANKS {
  color: #bfc766;
}
.SO_MUCH_THANKS {
  color: #e1615d;
}
@media only screen and (max-width: 825px) {
  .ICON-THANKS::before {
    width: 33px;
    height: 37px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
  .ICON-MORE_THAN_THANKS::before {
    width: 41px;
    height: 26px;
    top: 11px;
    left: -10px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
  .ICON-MUCH_THANKS::before {
    width: 36px;
    height: 37px;
    top: 5px;
    left: -6px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
  .ICON-SO_MUCH_THANKS::before {
    width: 39px;
    height: 36px;
    top: 2px;
    left: -9px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  }
}

/*# sourceMappingURL=styles.ce30e8d5.css.map */
