<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="sberbank" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="sberbank" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="sberbank" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="sberbank" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Сбербанк</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="styles/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css"/>
</head>
<body ng-class="{'admin-page': isAdmin}">
  <loader></loader>
  <header></header>
  <notify></notify>
  <div class="content">
    <ng-view ng-if="!hideView"></ng-view>
  </div>

  <!-- inject:dependencies:js -->
  <!-- endinject -->
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
